.zhk-candidate-list {
  flex: 1;
  min-width: 0;
  display: flex;
  overflow-x: auto;
  gap: var(--gap);
  scroll-behavior: smooth;

  /* 隐藏滚动条 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Webkit */
  }

  &__item {
    font-size: var(--candidate-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    white-space: nowrap; // 确保候选项不换行
    aspect-ratio: 1; // 保持宽高比为1:1，形成正方形
    flex-shrink: 0; // 防止在flex容器中被压缩
  }
}